
html {
	scrollbar-color: var(--color-bg-bottom);
	scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-bg-bottom);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-bg-hero: #b8d1e5;
    --color-bg-footer: #000000;
    --color-bg-main: #ffffff;
    --color-box-8: #ffd830;
    --color-box-7: #0d2481;
    --color-box-6: #ff1c1c;
    --color-box-5: #0093ce;
    --color-box-4: #b4d0e7;
    --color-box-3: #d5001f;
    --color-box-2: #61082b;
    --color-box-1: #a2d39b;
    --color-bg-bottom: #0061ff;
    --color-box-big: #f5f5f5;
}


/* UTILITY */
ul{
	list-style: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
	padding: 5px;
}

.container-small{
	max-width: 1000px;
	margin: 0 auto;
	padding: 5px;
}
.debug{
    border: 1px solid black;
}


.flexer{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.justify-between{
    justify-content: space-between
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
    align-content: center;
}

.align-baseline{
    align-items: baseline;
    align-content: baseline;
}

a{
    text-decoration: none;
    color: var(--color-bg-footer);
}

.a-button{
    background-color: var(--color-bg-bottom);
    color: var(--color-bg-main);
    border: 1px solid var(--color-bg-bottom);
    padding: 8px 15px;
}

.mb-30{
	margin-bottom: 30px;
}

.mb-20{
	margin-bottom: 20px;
}

.mb-15{
    margin-bottom: 15px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-100{
    margin-bottom: 100px;
}

.wid-100{
    width: 100%;
}


/* UTILITY */


/* NAV */
header{
	background-color: var(--color-bg-main);
    position: fixed;
	z-index: 5000;
    width: 100%;
	box-shadow: 1px 1px 3px #666;
	height: 50px;

}

nav{
    padding: 10px;

}

.nav-content{
    padding-top: 5px;
    font-size: 0.8rem;
}

nav a{
    padding: 5px 0 0 20px;
}

#login-button{
    padding-right: 15px;
}
/* NAV */

/* HERO */
#hero{
    background-color: var(--color-bg-hero);
	padding: 0 100px;
	margin-bottom: 150px;
}

#hero .container{
	padding-top: 50px;
	position: relative;
	bottom: -70px;
}
#hero img{
	width: 100%;
}

h1{
	font-size: 4.5rem;
}
.hero-left{
	width: 35%;
}

.hero-right{
	width: 65%;
}
/* HERO */

/* BUSINESS */
.h2-font-size{
    font-size: 2.35rem;
}

label{
    margin-right: 20pxx;
}

#business{
	padding: 0 100px;
}

.plan{
    width: 30%;
    border: 1px solid #666;
}

.plan-header{
    text-align: center;
    border-bottom:  1px solid #666;
    padding: 10px 0;
}

.plan-content{
    padding: 15px;
}

.enterprise{
    border: 1px solid black;
}

.icon-space{
    text-indent: -0.5em;
    margin: 15px;
}

.icon-space-2{
    text-indent: -0.4em;
    margin: 10px;
}

.a-normal{
    text-decoration: underline;
    color: blue;
}

.hr-width{
    width: 50px;
}

.check-mark{
    color: blue;
}

.enterprise-left{
    width: 90%;
}
.enterprise-right{
    width: 30%;
}
/* BUSINESS */

/* PARTNER */
#find-partner{
    padding: 0 100px;
}
#find-partner img{
    width: 100%;
    display: block;
}

.wid-50{
    width: 50%;
}

.partner-content{
    padding: 40px;
}

.a-emptybutton{
    background-color: var(--color-bg-main);
    color: var(--color-bg-footer);
    border: 1px solid black;
    padding: 8px 15px;
}
/* PARTNER */

/* FEATURES */
#features{
    padding: 0 100px;
}

#features img{
    width: 100%;
    display: block;
}

.box{
    width: calc(100% / 3 - 25px );
    margin-right: 25px;
}
/* FEATURES */

/* CLIENT-INFO */
#client-info{
    padding: 0 100px;
}

/* CLIENT-INFO */









/* FOOTER */

footer{
	background-color: var(--color-bg-footer);
	color: var(--color-bg-main);
	padding: 30px 100px;
}

footer li{
	margin-bottom: 10px;
}

footer a{
	color: var(--color-bg-main);
}

hr{
	border-color: var(--color-bg-main);
	width: 100px;
}

.pt-10{
	padding-top: 5px;
	padding-left: 5px;
}
/* FOOTER */